body{ 
background-image: url(galexy.jpeg);
background-repeat: no-repeat;
background-size: cover;
}
.greet{
  display: flex;
  justify-content: center;

}
h1{
  color: black;
  display: flex;
  justify-content: center;
}

h2{
  justify-content: center;
  display: flex;
  color: black;
}

.name{
justify-content: center;
display: flex;
} 
.counter{
  justify-content: left;
  display: flex;
  color: black;

}

input{
  width: 15em;
  height: 2em;
  margin-right: 2em;
}


.radioBtn{ 
 justify-content:center;
 display: flex;
 margin: auto;
 margin-top: 5em;
}
 
  span{
  color: black;
  font-size: 20px;


  }
  
  .clicked{
    display: block;
  max-width: 200px;
  margin: auto;
  margin-top: 5em;
  font-size: 1em;
  color: black;
  }


.greetingDiv{
  justify-content: center;
  display: flex;
  margin-top: 5em;
  margin-right: 5em;
margin-left: 4em;
  color: black;
  font-size: 20px;
}