body{ 
background-image: url(trees.jpeg);
background-repeat: no-repeat;
background-size: cover;
}

h2{
  color: lightgreen;
  display: flex;
  justify-content: center;
}
.name{
  display: flex;
  justify-content: center;
}


.greet-button{
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
  }
  .radio-inline{
    justify-content:center;
    display: flex;
  }
  span{
    color: black;
  font-size: 16px;
  margin: 1em;
  background-color: darkgray;
  }

  